body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
  padding: 20px;
}

form {
  display: inline-block;
  text-align: left;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input, button {
  display: block;
  width: 300px;
  margin: 10px 0;
  padding: 10px;
}

pre {
  text-align: left;
  background: #222;
  color: #0f0;
  padding: 10px;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 14px;
  overflow-x: auto;
}
